@import './../../utils/colors.scss';
@import './../../utils/mixins.scss';

.Categories {
  @include flex-center-all;
  padding: 20px;
  flex-direction: column;

  .card {
    @include box-shadow;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px;
    width: 100%;
  }
  .no-category {
    @include flex-center-all;
    padding: 50px 20px;
  }
  .card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    .btn-add {
      max-width: 220px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Reports {
    padding: 0px 5px;
    .container {
      flex-wrap: wrap;
      .date-from,
      .date-to {
        width: 90vw;
        margin-bottom: 20px;
      }
    }
  }
}
