$alert-red: #f44336;
$blue: #2196f3;
$green: #4caf50;
$grey: #333333;
$light-blue: #6ebeff;
$light-green: #76d379;
$light-grey: #cccccc;
$light-red: #ff7373;
$lightest-grey: #e5e5e5;
$pure-white: #ffffff;
$red: #ff1111;
$white: #eeeeee;
